html
  height: 100%
body
  display: grid
  grid-template-columns: repeat(12, 1fr)
  grid-template-rows: 50px 1fr 50px
  height: 100%

  header, footer
    grid-column-start: 1
    grid-column-end: 13
    background: green
