:host {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  user-select: none;
}
.sidebar-container {
  display: flex;
  align-items: center;
  flex: 1;
  transform: translateX(calc(-100% + 1rem));
  transition: transform 0.3s ease;
}
.opened {
  transform: translateX(0)
}
.sidebar-content {
  display: flex;
  width: 18.75rem;
  height: 100%;
  background-color: #f0d7c5;
}
.sidebar-panel {
  display: flex;
  width: 1rem;
  height: 6rem;
  cursor: pointer;
  background-color: blue;
}