@font-face {
  font-family: 'Inter';
  font-weight: '100';
  font-display: 'block';
  src: url(../../../static/fonts/Inter/Inter-Thin.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 200;
  font-display: block;
  src: url(../../../static/fonts/Inter/Inter-ExtraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 300;
  font-display: block;
  src: url(../../../static/fonts/Inter/Inter-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: block;
  src: url(../../../static/fonts/Inter/Inter-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-display: block;
  src: url(../../../static/fonts/Inter/Inter-Medium.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-display: block;
  src: url(../../../static/fonts/Inter/Inter-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-display: block;
  src: url(../../../static/fonts/Inter/Inter-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 800;
  font-display: block;
  src: url(../../../static/fonts/Inter/Inter-ExtraBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-weight: 900;
  font-display: block;
  src: url(../../../static/fonts/Inter/Inter-Black.ttf) format('truetype');
}

:root {
  --font-body-medium---12pt: 500 0.75rem/0.9749999642372131rem 'Inter';
  --font-body-regular---12pt: 400 0.75rem/0.9749999642372131rem 'Inter';
  --font-body-semibold---12pt: 600 0.75rem/0.9749999642372131rem 'Inter';
  --font-caption-medium---8pt: 500 0.5rem/0.6051136255264282rem 'Inter';
  --font-caption-regular---11pt: 400 0.6875rem/0.875rem 'Inter';
  --font-subtitle-medium---12pt: 500 0.75rem/1rem 'Inter';
  --font-title-medium---12pt: 500 0.75rem/1rem 'Inter';
  --font-title-semibold---18pt: 600 1.125rem/1.462499976158142rem 'Inter';
  --font-family: Inter, -apple-system, BlinkMacSystemFont, sans-serif;
}
